body {
    max-width: 1225px;
}

/*Navigering för Headen på alla sidor*/

#Navigation {
    background-color: #ffffff;
    border-bottom: medium none;
    float: left;
    margin-bottom: 0;
    margin-top: 25px;
    margin-left: 205px;
    padding: 30px 0px;
    position: relative;
    width: 100%;
}

#Navigation ul {
    background-color: transparent;
    height: 18px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: justify;
    width: 85%;
    position: relative;
    left: 0px;
}

#Navigation ul li {
    display: inline;
    padding: 120px;
}

li a,
.dropbtn {
    color: #333333;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    word-spacing: 2px;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    margin: 0 0 0 381px;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: justify;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

#logg {
    margin: 25px 0 0 600px;
    position: relative;
}


/*Footer på Alla Sidor*/
#footer {
    height: 125px;
    width: 1250px;
    position: relative;
    background-color: transparent;
    margin: 150px 0 0 125px;
}

.footernav {
    float: right;
    position: relative;
    max-width: 60%;
}

.footernav ul {
    line-height: normal;
    text-align: right;
    white-space: normal;
}

.footernav ul li {
    font-size: 14px;
    line-height: 21px;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    display: inline-block;
    list-style: none;
    margin-bottom: 16px;
    padding: 0 16px;
    text-align: center;
}

.footernav a {
    color: #919191;
    text-decoration: none;
}

.social_footer {
    list-style: none;
    left: 0px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
}

.social_footer li {
    display: block;
    padding: 0 12px;

}

.social_footer li a {
    color: #919191;
    text-decoration: none;
    
}

#Kontakt{
    margin: 0;
}

#Kontakt table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 300px;
    color: black;
    position: absolute;
    margin: 50px 0 0 450px;
    font-size: 0.5em;
}
